body {
  background-color: rgb(174, 114, 84);
  margin: 0;
}

.NavbarItems {
  background-color: rgb(224, 151, 92);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 60px;
  border-radius: 3px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.navbar-logo:hover {
  color: violet;

  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: rgb(35, 24, 15);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background-color: rgb(147, 123, 147);
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
  display: none;
}

button {
  padding: 0.5rem 1rem;
  color: wheat;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(164, 142, 164);
  color: black;
  transition: all 0.2s ease-in-out;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 650px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(101, 72, 56);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .nav-links:hover {
    background: rgb(108, 83, 108);
    transition: none;
  }

  button {
    color: chocolate;
    display: none;
  }

  button:hover {
    background-color: rgb(137, 123, 137);
    transition: all 0.2s ease-in-out;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: palegoldenrod;
    text-decoration: none;
    color: coral;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .menu-icons {
    display: block;
  }

  .menu-icons i {
    font-size: 1.2rem;
    color: rgb(224, 151, 92);
  }
}
